input,
textarea,
select {
  background-color: transparent;
}

select option {
  background-color: #54aad4;
  color: white;
}

input:focus,
textarea:focus,
select:focus {
  background-color: transparent;
}

.img-fluid
{
    width: 60%!important;
    padding: 5%;
}
