<!-- <p>navbar works!</p> -->

<div class="sidenav">
  <a class="nav-link text-dark" routerLinkActive="active" routerLink="/home">
    <img style="width: 100%" src="../../assets/root/logo.png" alt="Logo PikaShop">
  </a>
  <hr style="background-color: aliceblue"/>
 <a routerLinkActive="active" routerLink="/"> <i class="fa fa-tachometer" style="color: aliceblue;"></i>  Dashboard</a>
 <hr style="background-color: aliceblue"/>
  <a routerLinkActive="active" routerLink="/gun"><i class="fa fa-list-alt" style="color: aliceblue;"></i>  Gun</a>
  <hr style="background-color: aliceblue"/>
  <a routerLinkActive="active" routerLink="/brand"><i class="fa fa-steam-square" style="color: aliceblue;"></i>  Brands</a>
  <hr style="background-color: aliceblue"/>
  <a routerLinkActive="active" routerLink="/brand"><i class="fa fa-list" style="color: aliceblue;"></i>  Category</a>
  <hr style="background-color: aliceblue"/>
</div>

