<div class="wrapper" id="topheader">
  <nav id="sidebar" class="active">
    <div class="sidebar-header">
      <h3>GunAir</h3>
      <strong>GA</strong>
    </div>

    <ul class="list-unstyled components">
      <li>
        <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-home"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="/gun">
          <i class="fa fa-briefcase"></i>
          Gun
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="#">
          <i class="fa fa-file"></i>
          Category
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="#" id="sidebarCollapse">
          <i class="fa fa-arrows-h"></i>
          Portfolio
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="#">
          <i class="fa fa-paperclip"></i>
          FAQ
        </a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="#">
          <i class="fa fa-send"></i>
          Contact
        </a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>