<h2 style="margin-top: 57px">Detail Weapon</h2>
<hr />
<div class="row" *ngIf="gun">
  <div class="row">
    <div class="col-sm-12" style="width: 500px;">
      <u>Name:</u> {{ gun?.name }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <u>Image:</u>
      <br>
      <img src="{{ gun?.imagePath }}" class="image" alt="{{ gun?.name }}" />
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12"> <u>Price:</u> ${{ gun?.price }}</div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-7">
      <p><u>Description:</u></p>
      {{ gun?.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-primary" (click)="onEditRecipe()">Edit</button>&nbsp;
      <button type="button" class="btn btn-danger" (click)="onDeleteRecipe()">Delete</button>
    </div>
  </div>
</div>