<h2 style="margin-top: 57px">Detail Weapon</h2>
<hr />
<br />
<div class="row" *ngIf="gun">
  <div class="row">
    <div class="col-sm-12">
      <h4>{{ gun?.name }}</h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">
      <h4>
        <img src="{{ gun?.imagePath }}" class="w-100" alt="{{ gun?.name }}" />
      </h4>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-12">{{ gun?.price + "$" }}</div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-7">{{ gun?.description }}</div>
    <div class="col-sm-5">
      <div
        class="btn-group"
        role="group"
        aria-label="Button group with nested dropdown"
      >
        <div class="btn-group" role="group" appDropdown>
          <button
            id="btnGroupDrop1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            type="button"
            class="btn btn-primary dropdown-toggle"
          >
            Manage Gun
          </button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a
              class="dropdown-item"
              (click)="onEditRecipe()"
              style="cursor: pointer"
              >Edit Item</a
            >
            <a
              class="dropdown-item"
              style="cursor: pointer"
              (click)="onDeleteRecipe()"
              >Delete Item</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</div>
