<div class="card card-authentication1">
    <div class="card-body">
        <div class="card-content p-2">
            <div class="text-center">
                <img src="../../assets/root/logo.png" class="logo" alt="logo icon" style="width: 50%;">
            </div>
            <div class="card-title text-uppercase text-center py-3">Sign In</div>
            <form>
                <div class="form-group">
                    <label for="exampleInputUsername" class="sr-only">Username</label>
                    <div class="position-relative has-icon-right">
                        <input type="text" id="exampleInputUsername" class="form-control input-shadow"
                            placeholder="Enter Username">
                        <div class="form-control-position">
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword" class="sr-only">Password</label>
                    <div class="position-relative has-icon-right">
                        <input type="password" id="exampleInputPassword" class="form-control input-shadow"
                            placeholder="Enter Password">
                        <div class="form-control-position">
                            <i class="icon-lock"></i>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-6">
                        <div class="icheck-material-white">
                            <input type="checkbox" id="user-checkbox" checked="" />
                            <label for="user-checkbox">Remember me</label>
                        </div>
                    </div>
                    <div class="form-group col-6 text-right">
                        <a href="reset-password.html">Reset Password</a>
                    </div>
                </div>
                <button type="button" class="btn btn-light btn-block" onclick="location.href='/dashboard'">Sign
                    In</button>

            </form>
        </div>
    </div>
    <div class="card-footer text-center py-3">
        <p class="text-warning mb-0">This is the admin page you can't access?</p>
    </div>
</div>