<div class="flex-container">
  <div class="card" style="width: 15rem; margin-right: 15px;">
    <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
    <div class="card-body">
      <h4 class="list-group-item-heading">
        {{ recipe.id }}
      </h4>
      <p class="list-group-item-text">
        Name: {{ recipe.name }}
      </p>
      <p class="list-group-item-text">
        Price: ${{ recipe.price }}
      </p>
      <a [routerLink]="[index]" routerLinkActive="active" class="btn btn-primary">See more</a>
    </div>
  </div>
</div>