.flex-container {
  display: flex;
  flex-wrap: nowrap;
   flex-direction: row 
}
img{
  width: -webkit-fill-available;
  height: 107px;
}
.card
{
  background-color: transparent;
  width: 900%;
}

.list-group-item-text
{
  color: white;;
}
