<a
  style="cursor: pointer"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="
    list-group-item list-group-item-action
    d-flex
    justify-content-between
    align-items-center
  "
>
 <div>
    <div class="row">
      <div class="col-5">
          <h4 class="list-group-item-heading">
            {{ recipe.id }}
          </h4>
          <p class="list-group-item-text">
            {{ recipe.name }}
          </p>
          <p class="list-group-item-text">
            {{ recipe.price }}
          </p>
      </div>
      <div class="col-5">
          <img src="{{ recipe.image }}" alt="{{ recipe.name }}">
      </div>
    </div>
  </div>
  <span>
  </span>
</a>
