<div class="h-100 d-flex">
  <div class="card align-self-stretch text-center">
    <div class="card-body d-flex flex-column">
      <h5 class="list-group-item-heading flex-fill">
        {{ recipe.name }}
      </h5>
      <img
        src="{{ recipe.imagePath }}"
        class="card-img-top img-fluid"
        alt="{{ recipe.name }}"
      />
      <p class="list-group-item-text font-weight-bold">
        {{ recipe.category }}
      </p>
      <h6 class="list-group-item-text font-weight-light">
        {{ recipe.price }} $
      </h6>
      <div class="d-flex">
        <a
          [routerLink]="recipe.id"
          routerLinkActive="active"
          class="btn btn-primary w-100"
          >See more</a
        >
      </div>
    </div>
  </div>
</div>
