<div class="row">
  <div class="col-sm-12">
    <h1 style="text-align: center">List Gun</h1>
    <button class="btn btn-success" (click)="onNewRecipe()">Add New Gun</button>
  </div>
</div>
<hr />
<div class="row">
  <app-recipe-item appCardHover class="col-sm-6" *ngFor="let recipeItem of this.gunService.guns; let i = index"
    [recipe]="recipeItem" [index]="i">
  </app-recipe-item>
</div>
<div class="row" style="margin: auto;display: table;">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item active">
        <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
      </li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#">Next</a>
      </li>
    </ul>
  </nav>
</div>