<div class="row">
  <div class="col-sm-12">
    <button class="btn btn-success" (click)="onNewRecipe()">Add New Gun</button>
  </div>
</div>
<hr />
<div class="row">
  <app-recipe-item
    appCardHover
    class="col-sm-6"
    *ngFor="let recipeItem of this.gunList; let i = index"
    [recipe]="recipeItem"
    [index]="i"
  >
  </app-recipe-item>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="pagination w-100 justify-content-center">
      <li
        *ngFor="let page of [].constructor(this.pages); index as i"
        class="m-1"
      >
        <button class="btn btn-light px-5" (click)="pagination(i + 1)">
          {{ i + 1 }}
        </button>
      </li>
    </ul>
  </div>
</div>
