<h2 style="margin-top: 57px;">Category of Information</h2>
<hr>
<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="cateForm" (ngSubmit)="onSubmit()">
            <div class="row">
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="id">Category ID</label>
                        <input type="text" id="id_cate" class="form-control" formControlName="id_cate" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Category Name</label>
                        <input type="text" id="name_cate" class="form-control" formControlName="name_cate" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">
                Save
            </button>&nbsp;
            <button type="button" class="btn btn-danger" (click)="onCancel()">
                Cancel
            </button>
        </form>
    </div>
</div>